
{#
    This file is part of the Veslo project <https://github.com/symfony-doge/veslo>.

    (C) 2019 Pavel Petrov <itnelo@gmail.com>.

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @license https://opensource.org/licenses/GPL-3.0 GPL-3.0
#}

{#
    Vacancy list item.

    {
        vacancy                 // vacancy entity
        snippet_length_max      // max length for snippet to show
        route_show              // route to vacancy show action
    }
#}

{% import '@VesloAnthill/Vacancy/macro/salary.html.twig' as salary %}
{% import '@VesloAnthill/Vacancy/macro/categories.html.twig' as categories %}
{% import '@VesloAnthill/Company/macro/name.html.twig' as companyName %}
{% import '@VesloAnthill/Company/macro/logo.html.twig' as companyLogo %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                {{ companyLogo.logo(vacancy.company, 'float-md-right') }}
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row mt-2 mt-md-0">
            <div class="col-md-12">
                <span class="font-weight-bold">
                    {{ companyName.name(vacancy.company) }}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span>
                    {{- vacancy.regionName -}}

                    {# {%- if vacancy.company.url is defined and vacancy.company.url is not empty -%}
                        ,
                        <a href="{{- vacancy.company.url -}}" class="underline">
                            {{- vacancy.company.url -}}
                        </a>
                    {% endif %} #}
                </span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <a href="{{ url(route_show, {'slug': vacancy.slug}) }}" class="underline">
                    {{- vacancy.title -}}
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="font-weight-bold">
                    {{ salary.salary(vacancy) }}
                </span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-9">
                {% set snippet = (vacancy.snippet is defined and vacancy.snippet is not empty)
                    ? vacancy.snippet
                    : vacancy.text
                %}

                {{- snippet|striptags|truncate(snippet_length_max, true, truncate_separator)|nl2br -}}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="badge badge-primary">
                    {{- vacancy.roadmapName -}}
                </div>

                {{ categories.categories(vacancy) }}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                {{- vacancy.publicationDate|localizeddate -}}
            </div>
        </div>
    </div>
</div>
